<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>##&en Invoices ##&hu Számláim ##</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in session.user.payments" ng-if="p.paid">
                <td><a href="/{{ session.user._id }}/invoice/{{ p._id }}.pdf" target="_blank">##&en Invoice from {{ p.date | date:"dd.MM.yyyy. H:mm" }} ##&hu Számla {{ p.date | date:"yyyy.MM.dd. H:mm" }} ##</a></td>
            </tr>
        </tbody>
    </table>
</div>
